/* You can add global styles to this file, and also import other style files */
body {
	background: #f7f7f7 !important;
	font-family: 'Montserrat', sans-serif !important;
}

md-dialog-container {
    background: #f7f7f7 !important;
}